:root {
  --white: #fafafa;
  --black: #101010;
  --background-color: hsla(211, 95%, 25%, 1);
  --mesh-gradient: radial-gradient(at 7% 11%, hsla(207,100%,28%,1) 0px, transparent 50%),
  radial-gradient(at 93% 76%, hsla(214,75%,14%,0.64) 0px, transparent 50%),
  radial-gradient(at 9% 46%, hsla(214,75%,14%,0.51) 0px, transparent 50%),
  radial-gradient(at 17% 73%, hsla(229,64%,40%,0.45) 0px, transparent 50%),
  radial-gradient(at 55% 1%, hsla(214,75%,14%,1) 0px, transparent 50%),
  radial-gradient(at 98% 6%, hsla(214,75%,26%,1) 0px, transparent 50%),
  radial-gradient(at 43% 98%, hsla(208,100%,27%,1) 0px, transparent 50%),
  radial-gradient(at 72% 57%, hsla(229,50%,52%,0.51) 0px, transparent 50%),
  radial-gradient(at 31% 89%, hsla(214,75%,14%,1) 0px, transparent 50%);
  --blue: #004E92;
  --drop-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  --grey: #515151;
  --light-blue: #62b5e3;
}
p, label {
  margin: 0;
  font-family: Inter;
}
body {
  background-color: var(--background-color);
  background-image: var(--mesh-gradient);
  margin: 0;
  padding: 0;
  padding-block-end: 100rem;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1C1D55;
  padding-block: 0.2rem;
  height: 4rem;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}
.header-logo {
  margin-left: 1rem;
  gap: 6px !important;
  align-items: center;
}
.header-text {
  margin-top: -0.5rem;
}
.logo {
  width: 4rem !important;
  height: 3.5rem !important;
}
.dialog {
  color: var(--white);
  font-size: 0.875rem !important;
}
.getdev {
  font-size: 1.7rem !important;
}
.profile-bar {
  padding-right: 3rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.username {
  font-size: 1.25rem;
  color: var(--white);
  font-family: Inter;
  user-select: none;
  cursor: pointer;
}
.notif-icon {
  filter: invert();
  width: 1.75rem;
  height: 1.75rem;
}
.profile-pic {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.navbar-2 {
  height: 3rem;
  background-color: #2e5477;
  display: flex;
  align-items: start;
  padding-inline: 2rem;
  justify-content: start;
  padding-top: 5.25rem;
  gap: 2%;
}
.navbar-2 > button {
  height: 2rem;
  background: none;
  border: 0 solid;
  font-size: 1.25rem;
  font-family: Inter;
  color: var(--white);
  cursor: pointer;
}
.navbar-2 > button.active {
  color: #C3C702;
}
.job-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  margin-top: 2.8rem;
  margin-inline: 5rem;
}
.job {
  height: 10rem;
  width: 60vw;
  background-color: var(--white);
  display: grid;
  padding-block: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 2rem;
  grid-template-columns: auto 1fr;
  gap: 1.125rem;
  border-radius: 8px;
}
.job.hide {
  display: none;
}
.no-jobs {
  color: var(--white);
  font-size: 2rem;
  display: none;
}
.job-img {
  width: 10rem;
  height: 10rem;
}
.job-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.upper-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-title {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.upper-right-details {
  display: flex;
}
.date-posted::after {
  content: "";
  border-inline: 0.5px solid #9b9b9b;
  margin-inline: 0.8rem;
}
.company-name {
  font-style: italic;
  margin-block: 0.4rem;
}
.salary-range {
  color: #23AE52;
  font-weight: 700;
}
.level-container {
  display: flex;
  gap:0.75rem;
  font-size: 1rem;
}
.location-container {
  display: flex;
  align-items: center;
}
.location-icon, .people-icon {
  width: 20px;
  height: 20px;
  margin-inline-end: 0.4rem;
}
.lower-details {
  margin-top: -0.3rem;
  display: flex;
  justify-content: space-between;
}
.button-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: -0.75rem;
}
.button-container > button {
  height: 2.5rem;
  cursor: pointer;
  border: none;
  width: 7.25rem;
  border-radius: 8px;
  font-family: Inter;
  font-size: 1rem;
  color: var(--black);
}
.apply-button {
  background-color: #dcd6d6;
  transition: opacity 0.15s;
}
.button-container > img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.apply-button:hover {
  opacity: 0.75;
}
.add-job-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: var(--black);
  cursor: pointer;
  transition: width 450ms ease-in-out, border-radius 450ms ease-in-out;
}
.add-icon {
  width: 25px;
  margin-top: 2.5px;
  transition: display 450ms ease-in-out;
}
.post-job-text {
  opacity: 0;
  display: none;
  color: var(--white);
  transition: opacity 450ms ease-in-out;
  font-size: 1.125rem;
  white-space: nowrap;
  font-weight: 500;
}
.post-job {
  background-color: var(--white);
  width: 40vw;
  max-height: 90vh;
  min-height: 60vh;
  position: fixed;
  border: none;
  display: none;
  border-radius: 24px;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.post-job::-webkit-scrollbar {
  width: 0em;
  background-color: #F5F5F5;
}
.post-job::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.modal-nav {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin-bottom: 0.875rem;
}
.close-button {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--white);
  background-color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-icon {
  width: 1.6rem;
  height: 1.6rem;
  filter: invert();
}
.modal-title {
  font-size: 2rem;
}
.job-form {
  width: 95%;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 1.125rem;
}
.form-container > label {
  font-size: 1.25rem;
}
input, select {
  outline:none;
  padding-inline: 0.25rem;
}
.dual-form {
  display: flex;
  justify-content: space-between;
}
.dual-form > input {
  width: 45%;
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.options > button {
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: var(--white);
  outline: none;
  color: #020929;
  cursor: pointer
}
.text-input {
  margin-top: 10px;
  border: 1px solid #9b9b9b;
  padding: 20px;
  height: 12vh;
  overflow:auto;
}
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.form-2 {
  display: none;
}
.next-post, .submit-post {
  height: 2.25rem;
  width: 6rem;
  background-color: var(--blue);
  border: none;
  border-radius: 8px;
  color:var(--white);
  cursor: pointer;
  font-size: 1rem;
}
.back-post {
  height: 2.25rem;
  width: 6rem;
  background: none;
  border: none;
  border-radius: 8px;
  color:var(--blue);
  cursor: pointer;
  font-size: 1rem;
}