:root {
  --white: #f4f4f4;
  --black: #101010;
  --background-color: hsla(211, 95%, 25%, 1);
  --mesh-gradient: radial-gradient(at 7% 11%, hsla(207,100%,28%,1) 0px, transparent 50%),
  radial-gradient(at 93% 76%, hsla(214,75%,14%,0.64) 0px, transparent 50%),
  radial-gradient(at 9% 46%, hsla(214,75%,14%,0.51) 0px, transparent 50%),
  radial-gradient(at 17% 73%, hsla(229,64%,40%,0.45) 0px, transparent 50%),
  radial-gradient(at 55% 1%, hsla(214,75%,14%,1) 0px, transparent 50%),
  radial-gradient(at 98% 6%, hsla(214,75%,26%,1) 0px, transparent 50%),
  radial-gradient(at 43% 98%, hsla(208,100%,27%,1) 0px, transparent 50%),
  radial-gradient(at 72% 57%, hsla(229,50%,52%,0.51) 0px, transparent 50%),
  radial-gradient(at 31% 89%, hsla(214,75%,14%,1) 0px, transparent 50%);
  --blue: #004E92;
  --drop-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  --grey: #515151;
  --light-blue: #62b5e3;
}

p, button, label{
  font-family: Inter;
  color: var(--white);
  margin: 0;
}
* {
  transition: all 0.3s ease-in-out;
}
body {
  margin: 0;
  background-color: var(--background-color);
  background-image: var(--mesh-gradient);
  padding-inline: 5rem;
  padding-block: 3rem;
  display: flex;
  gap: 6.25%;
  min-height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  gap: 1.5rem;
}
.profile-pic-container > img {
  border-radius: 50%;
}
.profile-pic {
  width: 13.5rem;
  height: 13.5rem;
}
.username {
  background: rgba(250, 250, 250, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  font-size: 2rem;
  padding-block: 0.5rem;
  width: 100%;
  text-align: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  background: rgba(250, 250, 250, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  height: auto;
  width: 100%;
  padding-top: 1.5rem;
}
.button-container > button {
  background: none;
  border: none;
  font-size: 1.35rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  color: var(--white);
}
.prime {
  font-weight: bold;
}
.back-to-home {
  width: 9rem;
  height: 3rem;
  font-size: 2rem;
  background: none;
  color: var(--white);
  border: none;
  cursor: pointer;
}
main {
  width: 75%;
}
.section-2, .section-3 {
  display: none;
}
.title {
  font-size: 3rem;
  margin-bottom: 1.25rem;
  margin-top: 1.5rem;
}
.main-container {
  background: rgba(250, 250, 250, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  height: auto;
  display: flex;
  flex-direction: column;
}
.forms {
  display: flex;
  flex-direction: column;
  margin-inline: 4rem;
  margin-block: 2.5rem;
  align-items: end;
}
.forms > * {
  margin-bottom: 1.5rem;
}
.dual-form {
  display: flex;
  gap: 10%;
}
.forms > div {
  width: 100%;
}
.form-container > input, .form-container > textarea {
  width: calc(100% - 1.5rem);
}
.dual-form > div {
  width: 100%;
}
.dual-form > div > input {
  width: calc(100% - 1.5rem);
}
input {
  height: 2.4rem;
  font-size:1.125rem;
  font-family: Inter;
  outline: none;
  border-radius: 8px;
  border: none;
}
.label {
  margin-bottom: 12px;
  font-size: 1.25rem;
}
input[type="text"], input[type="number"], input[type="email"], input[type="date"], input[type="password"], textarea {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
textarea {
  padding-top: 0.75rem;
  font-size:1.125rem;
  font-family: Inter;
  outline: none;
  border-radius: 8px;
  height: 10rem;
  resize: vertical;
}
.save-button {
  width: 20%;
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: #004E92;
  color: var(--white);
  font-size: 1.25rem;
  height: 3.125rem;
  cursor: pointer;
} 
.title-container {
  display: flex;
  gap: 5%;
  margin-bottom: 2rem;
  position: relative;
}
.title-2 {
  font-size: 2.25rem;
  cursor:pointer;
  overflow: hidden;
  margin-top: 1.5rem;
  background: none;
  border: none;
}
.title-2.active {
  border-bottom: 3px solid var(--white);
  border-radius: 2px;
}
@media (max-width: 900px) {
  body {
    padding-inline: 1rem;
    padding-block: 2rem;
  }

  aside {
    width: 100%;
    padding-bottom: 1.5rem;
    order: -1;
    margin-bottom: 2rem;
  }

  main {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .main-container, .forms {
    margin-inline: 0;
    margin-block: 1.5rem;
  }

  .form-container > input, .form-container > textarea {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .dual-form {
    flex-direction: column;
    gap: 1.5rem;
  }

  .dual-form > div {
    width: 100%;
  }

  .save-button {
    width: 100%;
    margin-top: 1.5rem;
  }
  .job-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  /* Adjust job details */
  .job {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }

  .job-img {
    width: 100%;
    height: 200%;
    max-height: 8rem;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .upper-details {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .upper-right-details {
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    gap: 0.25rem;
  }

  .job-title {
    font-size: 1.25rem;
  }

  .company-size {
    margin-top: 0.25rem;
  }

  .level-container {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .lower-details {
    flex-direction: column;
    gap: 0.5rem;
  }

  .button-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-right: 0;
  }

  .button-container > button {
    width: 100%;
    padding-inline: 0;
    height: auto;
    text-align: center;
  }
}