:root {
  --white: #f4f4f4;
  --black: #101010;
  --background-color: hsla(211, 95%, 25%, 1);
  --mesh-gradient: radial-gradient(at 7% 11%, hsla(207,100%,28%,1) 0px, transparent 50%),
  radial-gradient(at 93% 76%, hsla(214,75%,14%,0.64) 0px, transparent 50%),
  radial-gradient(at 9% 46%, hsla(214,75%,14%,0.51) 0px, transparent 50%),
  radial-gradient(at 17% 73%, hsla(229,64%,40%,0.45) 0px, transparent 50%),
  radial-gradient(at 55% 1%, hsla(214,75%,14%,1) 0px, transparent 50%),
  radial-gradient(at 98% 6%, hsla(214,75%,26%,1) 0px, transparent 50%),
  radial-gradient(at 43% 98%, hsla(208,100%,27%,1) 0px, transparent 50%),
  radial-gradient(at 72% 57%, hsla(229,50%,52%,0.51) 0px, transparent 50%),
  radial-gradient(at 31% 89%, hsla(214,75%,14%,1) 0px, transparent 50%);
  --blue: #004E92;
  --drop-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  --grey: #515151;
}
p, label {
  margin: 0;
  font-family: Inter;
}
body {
  background-color: var(--background-color);
  background-image: var(--mesh-gradient);
  margin: 0;
  padding: 0;
  padding-block-end: 100rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1C1D55;
  padding-block: 0.2rem;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.header-logo {
  margin-left: 1rem;
  gap: 6px !important;
  align-items: center;
}
.header-text {
  margin-top: -0.5rem;
}
.logo {
  width: 4rem !important;
  height: 3.5rem !important;
}
.dialog {
  color: var(--white);
  font-size: 0.875rem !important;
}
.getdev {
  font-size: 1.7rem !important;
}
.profile-bar {
  padding-right: 3rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.username {
  font-size: 1.25rem;
  color: var(--white);
  font-family: Inter;
}
.notif-icon {
  filter: invert();
  width: 1.75rem;
  height: 1.75rem;
}
.profile-pic {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
.search-container {
  background-color: var(--white);
  padding-top: 4.2rem;
  height: 4.2rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.search-container > input {
  height: 2.25rem;
  width: clamp(100px, 90vw, 22.5rem);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  border-color: #9b9b9b;
  padding-left: 1%;
  font-size: 0.98rem;
  font-family: Inter;
  color: #212121;
}
input:focus { 
  outline: none;
}
main {
  margin-inline: 4.5rem;
  margin-top: 2rem;
}
aside {
  max-width: 19.2%;
}
aside > p {
  font-family: Inter;
  color: var(--white);
}
.filters-text {
  font-size: 2rem;
  font-weight: 600;
}
.filter {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  overflow: hidden;
  border-block-end: 2px solid var(--white);
}
label {
  color: var(--white);
  font-size: 1.125rem;
}
.head-filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.filter-title {
  font-size: 1.44rem;
  color: var(--white);
}
.filter > div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 4px;
}
.filter div:last-child {
  margin-bottom: 1rem;
}
.arrow-check {
  cursor: pointer;
  position: absolute;
  right: 2.5%;
  z-index: 20;
  opacity: 0;
}
.arrow-check:checked + label img {
  transform: rotate(0deg);
}
.arrow-check:checked ~ .filter-container {
  display: none;
}
.arrow {
  filter: invert();
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.filter-container {
  display: none;
}
.filter-container > input {
  cursor:pointer
}
.filter-container > input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border: none;
}
.head-filter > input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  transform: translateX(20%);
}

@media (max-width: 768px) {
  aside {
    display: flex;
    max-width: 100%;
    align-items: center;
  }
}